@use '../../assets/css/common.scss' as c;

.contact {
  $self: &;
  padding: 50px 0;
  margin-top: 80px;
  position: relative;

  .container {
    display: flex;
    align-items: center;

    > div {
      width: 50%;
    }

    @include c.media(tablet-wide) {
      flex-direction: column;
      padding-right: calc(20px * 0.5);
      padding-left: calc(20px * 0.5);
      margin-top: 100px;

      > div {
        width: 100%;
      }
    }

    #{$self}__left {
      padding: 30px 50px 30px 0;
      .section__heading {
        margin-bottom: 20px;
      }

      @include c.media(tablet-wide) {
        margin-top: 100px;
        margin-left: 0;
        padding: 0 20px;
        margin-bottom: 40px;
      }

      @include c.media(tablet) {
        padding: 0;
      }
    }
  }
}
