*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none !important;
}

button {
  cursor: pointer;
}

img,
picture {
  // max-width: 100%;
  display: block;
  overflow: hidden;
}

input,
button,
textarea,
select {
  font: inherit;
}
