@use '../../assets/css/common.scss' as c;

.btn {
  height: 50px;
  line-height: 50px;
  padding: 0px 25px;
  border-radius: 25px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  border: none;

  > span {
    margin: 0 10px;
  }

  &--purple {
    background-color: c.$purple;
    color: c.$white;
  }

  &--white {
    background-color: c.$white;
    color: c.$purple;
  }

  &--transparent {
    background-color: transparent;
    color: c.$white;
  }
}
