@use '../../assets/css/common.scss' as c;

.btn {
  font-size: 14px;
  height: 50px;
  // line-height: 50px;
  padding: 0px 25px;
  border-radius: 25px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  border: none;

  &--purple {
    background-color: c.$purple;
    color: c.$white;
  }

  &--white {
    background-color: c.$white;
    color: c.$purple;
    transition: all 0.2s ease-in-out;
  }

  &:hover.btn--hover-purple {
    background-color: c.$purple;
    color: c.$white;
  }

  &--transparent {
    background-color: transparent;
    color: c.$white;
    padding: 0;
  }

  .icon {
    margin-right: 10px;
  }
}
