@use '../../assets/css/common.scss' as c;

.btn {
  font-size: 14px;
  height: 50px;
  padding: 0px 25px;
  border-radius: 25px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  border: none;

  @include c.media(tablet-wide) {
    height: 40px;
  }

  &--purple {
    background-color: c.$purple;
    color: c.$white;
  }

  &--white {
    background-color: c.$white;
    color: c.$purple;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: c.$purple;
      color: c.$white;
    }
  }

  &--transparent {
    background-color: transparent;
    color: c.$white;
    padding: 0;
  }

  .icon {
    margin-right: 10px;
  }

  &--filter {
    padding: 8px 16px !important;
    background: c.$white;
    border-radius: 20px;
    color: c.$purple;
    margin: 0px 10px 10px;
    border: 1px solid c.$purple;
    transition: all 0.3s;
    height: auto;
    font-weight: 500;

    &.active,
    &:hover {
      background: c.$purple;
      color: c.$white;
      border: 1px solid c.$purple;
    }
  }

  &--disabled,
  &--disabled:hover {
    background: rgba(249, 235, 255, 0.15) !important;
    color: rgba($color: c.$white, $alpha: 0.5) !important;
    border: 1px solid rgba(249, 235, 255, 0.15) !important;
    box-shadow: none !important;
    cursor: not-allowed;
  }
}
