.services-card {
  position: relative;

  &__img {
    width: 190px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 190px;
    background-color: #7a6ad8;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -95px;
  }

  &__body {
    border-radius: 25px;
    padding: 80px 30px 50px 30px;
    background-color: #f1f0fe;
    margin-bottom: 30px;
    margin-right: 80px;
    transition: all 0.4s;

    > h4 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 15px;
      line-height: 30px;
      transition: all 0.4s;
    }

    > p {
      color: #4a4a4a;
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 28px;
    }
  }
}
