@use '../../../assets/css/common.scss' as c;

.offer-card {
  background-color: c.$white;
  border-radius: 25px;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

  @include c.media(tablet) {
    padding: 10px;
  }

  &__offer {
    background-color: c.$purple;
    width: 80px;
    padding: 30px 8px;
    line-height: 25px;
    height: 120px;
    border-radius: 15px 60px 60px 15px;
    display: inline-block;
    text-align: center;
    color: c.$white;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;

    > em {
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
    }
  }

  &__content {
    margin-right: auto;
    margin-left: 30px;

    @include c.media(tablet) {
      margin-left: 15px;
    }

    > p:first-child {
      font-size: 15px;
      color: c.$text-desc;
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 15px;

      > em {
        font-style: normal;
        font-weight: 600;
        color: c.$purple;
      }
    }

    > :last-child {
      font-size: 22px;
      font-weight: 600;
      color: c.$text-title;

      > em {
        color: c.$purple;
        margin-right: 10px;
      }
    }
  }

  > a {
    // width: 50px;
    // height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    background-color: c.$purple;
    color: c.$white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    > .icon {
      width: 50px;
      height: 50px;
    }
  }
}
