$blue-one: #008af7;
$blue-two: #0d78d0;
$blue-three: #121039;
$blue-four: #0089f7;
$blue-five: #1e1c42;

$pink-one: #9c78ca;
$pink-two: #906ebb;
$pink-three: #5c5fae;
$purple-one: #5c56d4;
$purple-two: #4a45ad;
$purple-three: #aeb0f3;

$yellow-one: #67ffd1;
$yellow-two: #80b541;

$red-one: #ff4d4f;

$dark-one: #02061a;
$dark-two: #0b0f2f;
$dark-three: #000119;
$dark-four: #030820;
$dark-five: #06070c;
$dark-six: #000000;

$brown-one: #191919;
$brown-two: #222222;

$light-one: #ffffff;
$light-two: #f3f5f2;
$light-three: #eceeee;
$light-four: #dedede;
$light-five: #a6a6a6;
$light-six: #65666c;
