$uniqeid: unique_id();

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Light.ttf?v=#{$uniqeid}') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-LightItalic.ttf?v=#{$uniqeid}') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf?v=#{$uniqeid}') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Italic.ttf?v=#{$uniqeid}') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Medium.ttf?v=#{$uniqeid}') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-MediumItalic.ttf?v=#{$uniqeid}') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-SemiBold.ttf?v=#{$uniqeid}') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Bold.ttf?v=#{$uniqeid}') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-ExtraBold.ttf?v=#{$uniqeid}') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Black.ttf?v=#{$uniqeid}') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'scholar';
  src: url('/fonts/scholar.ttf?v=#{$uniqeid}') format('truetype');
}
