.icon {
  line-height: 1;
  display: inline-block;
}

.icon:before {
  font-family: scholar !important;
  font-style: normal;
  font-weight: normal !important;
  vertical-align: top;
  font-size: inherit;
}
