
  %icon-chevron-left {
  content: "\f101";
  }

  .icon-chevron-left:before {
  content: "\f101";
  }

  %icon-chevron-right {
  content: "\f102";
  }

  .icon-chevron-right:before {
  content: "\f102";
  }

  %icon-contact {
  content: "\f103";
  }

  .icon-contact:before {
  content: "\f103";
  }

  %icon-courses {
  content: "\f104";
  }

  .icon-courses:before {
  content: "\f104";
  }

  %icon-events {
  content: "\f105";
  }

  .icon-events:before {
  content: "\f105";
  }

  %icon-facebook {
  content: "\f106";
  }

  .icon-facebook:before {
  content: "\f106";
  }

  %icon-home {
  content: "\f107";
  }

  .icon-home:before {
  content: "\f107";
  }

  %icon-linkedin {
  content: "\f108";
  }

  .icon-linkedin:before {
  content: "\f108";
  }

  %icon-menu-close {
  content: "\f109";
  }

  .icon-menu-close:before {
  content: "\f109";
  }

  %icon-menu-open {
  content: "\f10a";
  }

  .icon-menu-open:before {
  content: "\f10a";
  }

  %icon-minus {
  content: "\f10b";
  }

  .icon-minus:before {
  content: "\f10b";
  }

  %icon-play {
  content: "\f10c";
  }

  .icon-play:before {
  content: "\f10c";
  }

  %icon-plus-counter {
  content: "\f10d";
  }

  .icon-plus-counter:before {
  content: "\f10d";
  }

  %icon-plus {
  content: "\f10e";
  }

  .icon-plus:before {
  content: "\f10e";
  }

  %icon-right-arrow-circle {
  content: "\f10f";
  }

  .icon-right-arrow-circle:before {
  content: "\f10f";
  }

  %icon-search {
  content: "\f110";
  }

  .icon-search:before {
  content: "\f110";
  }

  %icon-twitter {
  content: "\f111";
  }

  .icon-twitter:before {
  content: "\f111";
  }
