$verId: unique_id();

@mixin imageCacheBust($urls...) {
  $backgroundImages: ();

  @each $url in $urls {
    $backgroundImages: append(
      $backgroundImages,
      url('#{$url}?v=#{$verId}'),
      comma
    );
  }
  background-image: $backgroundImages;
}

@mixin media($point) {
  @if $point == mobile {
    @media (max-width: 460px) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == tablet-wide {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $point == desktop {
    @media (max-width: 1240px) {
      @content;
    }
  }
}
