@use '../../assets/css/common.scss' as c;

.breadcrumb {
  $self: &;
  margin-bottom: 30px;
  ul {
    display: flex;
    font-size: 12px;
    align-items: center;

    #{$self}__item {
      position: relative;
      &:not(:last-child) {
        margin-right: 5px;

        &::after {
          content: '';
          position: absolute;
          left: -2px;
          bottom: -1px;
          height: 1px;
          width: 100%;
          background-color: c.$white;
        }
      }

      > a {
        color: c.$white;
        display: inline-flex;
        position: relative;

        > .icon {
          margin-left: 3px;
          color: c.$white;
        }
      }

      > span {
        color: rgba($color: c.$white, $alpha: 0.7);
      }
    }
  }
}
