@use '../../assets/css/common.scss' as c;

.main-banner {
  @include c.imageCacheBust('/images/banner-bg.jpg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 170px 0px 120px 0px;

  @include c.media(tablet) {
    padding-top: 100px;
  }

  .main-carousel {
    position: relative;
    z-index: 20;

    &__btn {
      position: absolute;
      bottom: 20px;

      &:last-child {
        left: 50%;
        z-index: 21;
        transform: translate(0, 0);
      }

      &:first-child {
        right: 50%;
        z-index: 21;
        transform: translate(0, 0);
      }
    }
  }
}

.services {
  margin-top: 100px;

  .section__heading {
    text-align: center;
  }

  .box {
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    flex-wrap: wrap;

    // @include c.media(desktop) {
    // }
  }
}

.about-us {
  $self: &;
  position: relative;
  margin-top: 130px;

  .container {
    display: flex;

    > div {
      width: 50%;
    }

    .accordion {
      margin-top: -40px;
      margin-bottom: -40px;
    }

    #{$self}__right {
      margin-left: 60px;
      padding: 30px 0;
      .section__heading {
        margin-bottom: 20px;
      }

      > p {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 50px;
        color: c.$text-desc;
      }

      &__action {
        .icon {
          margin-right: 0;
          margin-left: 5px;
        }
      }

      @include c.media(tablet-wide) {
        margin-top: 100px;
        margin-left: 0;
        padding: 0 20px;
      }
    }

    @include c.media(tablet-wide) {
      flex-direction: column;
      padding-right: calc(20px * 0.5);
      padding-left: calc(20px * 0.5);
      margin-top: 100px;

      > div {
        width: 100%;
      }
    }
  }
}
