@use '../../assets/css/common.scss' as c;

.main-banner {
  @include c.imageCacheBust('/images/banner-bg.jpg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 170px 0px 120px 0px;

  @include c.media(tablet) {
    padding-top: 100px;
  }

  .main-carousel {
    position: relative;
    z-index: 20;

    &__btn {
      position: absolute;
      bottom: 20px;

      &:last-child {
        left: 50%;
        z-index: 21;
        transform: translate(0, 0);
      }

      &:first-child {
        right: 50%;
        z-index: 21;
        transform: translate(0, 0);
      }
    }
  }
}

.services {
  margin-top: 100px;

  .section__heading {
    text-align: center;
  }

  .box {
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.about-us {
  $self: &;
  position: relative;
  margin-top: 130px;

  .container {
    display: flex;

    > div {
      width: 50%;
    }

    .accordion {
      margin-top: -40px;
      margin-bottom: -40px;
    }

    #{$self}__right {
      margin-left: 60px;
      padding: 30px 0;
      .section__heading {
        margin-bottom: 20px;
      }

      &__action {
        .icon {
          margin-right: 0;
          margin-left: 5px;
        }

        @include c.media(tablet-wide) {
          .btn {
            background-color: c.$purple;
            color: c.$white;
          }
        }
      }

      @include c.media(tablet-wide) {
        margin-top: 100px;
        margin-left: 0;
        padding: 0 20px;
      }
    }

    @include c.media(tablet-wide) {
      flex-direction: column;
      padding-right: calc(20px * 0.5);
      padding-left: calc(20px * 0.5);
      margin-top: 100px;

      > div {
        width: 100%;
      }
    }
  }
}

.fun-facts {
  position: relative;
  padding: 120px 0 80px;
  margin-top: 150px;

  @include c.media(mobile) {
    margin-top: 70px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 50px;

    @include c.media(tablet-wide) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include c.media(mobile) {
      grid-template-columns: 1fr;
    }
  }

  &::after {
    @include c.imageCacheBust('images/contact-dec-01.png');
    position: absolute;
    left: 15%;
    opacity: 0.5;
    top: 0;
    width: 318px;
    height: 119px;
    content: '';
    z-index: 2;
  }
}

.team {
  $self: &;
  margin-top: 100px;
  .section__heading {
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.testimonials {
  $self: &;
  position: relative;

  .container {
    display: flex;

    > div {
      width: 50%;
    }

    #{$self}__right {
      margin-left: 60px;
      padding: 30px 0;
      .section__heading {
        margin-bottom: 20px;
      }

      @include c.media(tablet-wide) {
        margin-top: 100px;
        margin-left: 0;
        padding: 0 20px;
      }
    }

    .testimonials-carousel {
      .btn {
        padding: 0;

        .icon {
          margin: 0;
        }
      }
    }

    @include c.media(tablet-wide) {
      flex-direction: column;
      padding-right: calc(20px * 0.5);
      padding-left: calc(20px * 0.5);
      margin-top: 100px;

      > div {
        width: 100%;
      }
    }
  }
}
