@use '../../assets/css/common.scss' as c;

.float-label {
  position: relative;

  > .label {
    font-size: 14px;
    line-height: 1.29;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 16px;
    top: 16px;
    transition: 0.2s ease all;
    color: c.$white;
    z-index: 1;

    &--float {
      top: 5px;
      left: 21px;
      font-size: 10px;
    }
  }

  > input,
  > input:-webkit-autofill,
  > input:-webkit-autofill:hover,
  > input:-webkit-autofill:focus,
  > input:-internal-autofill-selected {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: rgba(249, 235, 255, 0.15) !important;
    border: none;
    outline: none;
    font-weight: 300;
    padding: 0px 20px;
    font-size: 14px;
    color: c.$white !important;
    background-image: none !important;
  }

  > textarea {
    width: 100%;
    height: 120px;
    border-radius: 25px;
    background-color: rgba(249, 235, 255, 0.15);
    border: none;
    outline: none;
    font-weight: 300;
    padding: 20px;
    font-size: 14px;
    color: c.$white;
    margin-bottom: 30px;
  }

  > span {
    margin-top: 5px;
    color: c.$white;
    font-size: 12px;
    margin-left: 16px;
  }
}
