@use '../../assets/css/common.scss' as c;

.header {
  $self: &;
  display: flex;
  align-items: center;
  margin-top: 33px;
  transition: all 300ms ease-in-out;

  &--sticky {
    height: 80px;
    margin-top: 0;
    background-color: c.$purple;
    border-radius: 0px 0px 25px 25px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    #{ $self }__logo a {
      font-size: 36px;
      font-weight: 500;
      color: c.$white;
      display: block;
      position: relative;
      padding-right: 20px;
      margin-right: 20px;
      text-transform: uppercase;

      @include c.media(tablet) {
        font-size: 34px;
      }

      &::after {
        content: '';
        height: 100%;
        width: 1px;
        display: block;
        background-color: rgba($color: c.$white, $alpha: 0.5);
        position: absolute;
        top: 0;
        right: 0;

        @include c.media(tablet) {
          display: none;
        }
      }
    }

    #{ $self }__nav {
      display: flex;
      align-items: center;
      font-weight: 300;

      ul {
        display: flex;
        @include c.media(tablet) {
          width: 100%;
        }

        li {
          &:not(:last-child) {
            @include c.media(tablet) {
              border-bottom: 1px solid #ddd;
            }
          }
          a {
            display: inline-flex;
            align-items: center;
            height: 40px;
            color: c.$white;
            font-size: 14px;
            padding: 0 20px;
            transition: all 300ms ease-in-out;

            @include c.media(tablet) {
              width: 100%;
              justify-content: center;
            }

            &.active {
              font-weight: 400;
              background-color: rgba(255, 255, 255, 0.1);
              opacity: 1;
              border-radius: 20px;

              @include c.media(tablet) {
                color: c.$purple;
                background-color: c.$white;
                border-radius: 0 0 25px 25px;
              }
            }

            @include c.media(tablet) {
              height: 50px;
              color: c.$text-title;

              &:hover {
                color: c.$purple;
              }
            }
          }
        }

        @include c.media(tablet) {
          flex-direction: column;
        }
      }

      > a {
        padding: 0 20px;
        color: c.$white;
        font-size: 14px;
      }

      @include c.media(tablet) {
        flex-direction: column;
        align-items: center;
        position: absolute;
        max-width: 90%;
        width: 100%;
        top: -200px;
        opacity: 0;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        background-color: c.$light-two;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        transition: all 300ms ease-in-out;
      }

      &--visible {
        top: 193px;
        opacity: 1;
      }
    }

    #{$self}__action {
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      color: c.$white;
      display: none;

      @include c.media(tablet) {
        display: block;
      }
    }
  }
}
