@use '../../assets/css/common.scss' as c;

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: c.$purple;
  background-color: c.$white;
  border-radius: 50%;
  transition: all 0.2s ease-in;

  &:hover {
    color: c.$white;
    background-color: c.$purple;
  }
}
