@use '../../assets/css/common.scss' as c;

.count-up {
  margin-bottom: 50px;

  > span {
    display: block;

    &:first-child {
      color: c.$white;
      font-size: 48px;
      font-weight: 700;
    }

    &:last-child {
      color: c.$white;
      font-size: 14px;
      font-weight: 500;
      margin-top: 15px;
    }
  }
}
