@use '../../assets/css/common.scss' as c;

.schedule {
  margin-top: 100px;
  .section__heading {
    text-align: center;
    margin-bottom: 100px;
  }

  .container {
    .box {
      @include c.media(tablet-wide) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
      }
    }
  }
}
