@use '../../assets/css/common.scss' as c;

.accordion {
  $self: &;
  background-color: c.$purple;
  border-radius: 40px;
  padding: 80px 50px 50px 50px;

  @include c.media(tablet) {
    padding: 40px 25px 40px 25px;
  }

  &__item {
    background-color: c.$white;
    border-radius: 40px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &__header {
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      color: c.$text-title;
      border-radius: 40px;
      background-color: c.$white;
      border: none;
      display: flex;
      justify-content: space-between;
      padding: 15px 25px;
      outline: transparent;
      transition: all 400ms ease-out;

      > .icon {
        background-color: c.$purple;
        border-radius: 50%;
        color: c.$white;
      }
    }

    &__body {
      padding: 0px 25px 30px 25px;
      font-size: 14px;
      line-height: 28px;
      color: c.$text-desc;
      overflow: hidden;
      //   max-height: 0px;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      transition: all 400ms ease-out;
      margin-top: -34px;
      pointer-events: none;
      opacity: 0;
    }

    &.open {
      #{$self}__item__header {
        > span {
          color: c.$purple;
        }
      }

      #{$self}__item__body {
        max-height: fit-content;
        transition: all 800ms ease-out;
        opacity: 1;
        margin-top: 0;
      }
    }
  }
}
